{% extends 'car_dealer/base.html' %}
{% block content %}
{% load static %}

<div class="w3-bar w3-large ">
  <div class="w3-bar-item" style="background-color: rgb(245, 245, 252);color: rgb(40, 127, 240);">Dealer: {{user.username}}</div>
  <a class="w3-bar-item  w3-right nav-link" href="/car_dealer_portal/logout/">Logout</a>
  <a class="w3-bar-item  w3-right nav-link" href="/car_dealer_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item  w3-right nav-link" href="/car_dealer_portal/order_list/">Orders</a>
  <a class="w3-bar-item  w3-right nav-link" href="/car_dealer_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item  w3-right nav-link" href="/car_dealer_portal/history/">Wallet</a>
</div>

<div class="w3-display-container" style="height:800px;">
  <div class="w3-display-left" style="padding-left: 500px;">
    <center>
<h3 class="heading" style="background:rgb(76, 123, 194);color: cornsilk; padding:8px">Update Vehicle</h3></center>

<div style="background-color: rgb(118, 206, 209);border-radius: 20px;width: 400px;">
<form class="w3-container" method="post">
  {% csrf_token %}
  <lable>* Car Name :</lable> <input value="{{car.car_name}}" class="w3-input" type="text" name="car_name" required><br><br>
  <lable>* Vehichle Number :</lable> <input value="{{car.vehichle_number}}" class="w3-input" type="text" name="vehichle_number" required><br><br>
  <lable>* City :</lable> <input value="{{car.area.city}}" class="w3-input" type="text" name="city" required><br><br>
  <lable>Pincode :</lable> <input value="{{car.area.pincode}}" class="w3-input" type="text" name="pincode" required><br><br>
  <lable> * rent(Rs) :</lable> <input value="{{car.rent}}" class="w3-input" type="text" name="rent" required><br><br>
  <lable>* Capacity :</lable> <input value="{{car.capacity}}" class="w3-input" type="text" name="capacity" required><br><br>
  <input class="w3-btn w3-green" type="submit" value="Add Vehicle"><br><br>
<form>
</div>
</div>
</div>

{% endblock %}
